:root {
  --center: 50%;
  --startDelay: 0;
  --rotationTime: 8s;
  --radius: 50%;
  --sqrt-of-2: 1.41421356237;
}

.skills-list {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 20px;
  border-radius: 50%;
  max-width: 300px;
}

.skills-list h4 {
  color: indigo;
  position: absolute;
  transform: translate(-50%, -50%);
  top: var(--center);
  left: var(--center);
  animation: rotate var(--rotationTime) linear infinite;
  animation-delay: var(--startDelay);
  white-space: nowrap;
}

.skill-creativity {
  --center: 10%;
  --radius: 10%;
  --rotationTime: 3s;
}

.skill-time-management,
.skill-problem-solving,
.skill-motivation {
  --center: 30%;
  --radius: 30%;
  --rotationTime: 5s;
}

.skill-problem-solving {
  --startDelay: -1.5s;
}

.skill-motivation {
  --startDelay: -3.5s;
}

.skill-diligence {
  --startDelay: -1.6s;
}

.skill-critical-thinking {
  --startDelay: -3.2s;
}

.skill-fast-learning {
  --startDelay: -4.8s;
}

.skill-critical-thinking {
  --startDelay: -6.4s;
}

.skill-team-player,
.skill-flexibility,
.skill-commitment {
  --center: 70%;
  --radius: 30%;
  --rotationTime: 5s;
}

.skill-commitment {
  --startDelay: -1.5s;
}

.skill-flexibility {
  --startDelay: -3.5s;
}


.skill-integrity {
  --center: 90%;
  --radius: 10%;
  --rotationTime: 3s;
  --startDelay: -1.5s;
}


@keyframes rotate {

  100%,
  0% {
    opacity: 1;
    top: var(--center);
    left: var(--center);
  }

  25% {
    opacity: 0;
    top: calc(var(--center) - var(--radius) / var(--sqrt-of-2));
    left: calc(var(--center) + var(--radius) / var(--sqrt-of-2));
  }

  30% {
    opacity: 0;
  }

  50% {
    opacity: 0;
    top: var(--center);
    left: var(--center);
  }

  75% {
    opacity: 0;
    top: calc(var(--center) + var(--radius) / var(--sqrt-of-2));
    left: calc(var(--center) - var(--radius) / var(--sqrt-of-2));
  }

  80% {
    opacity: 0;
  }
}